*/War3Map.Template/.vs/*
*/War3Map.Template/v16/*
*/War3Map.Template/War3Map.Template.Launcher/bin/*
*/War3Map.Template/War3Map.Template.Launcher/obj/*
*/War3Map.Template/War3Map.Template.Source/bin/*
*/War3Map.Template/War3Map.Template.Source/obj/*
*/War3Map.Template/artifacts/