1-SetUpEnviornment/War3Map.Template/.vs/*
1-SetUpEnviornment/War3Map.Template/v16/*
1-SetUpEnviornment/War3Map.Template/War3Map.Template.Launcher/bin/*
1-SetUpEnviornment/War3Map.Template/War3Map.Template.Launcher/obj/*
1-SetUpEnviornment/War3Map.Template/War3Map.Template.Source/bin/*
1-SetUpEnviornment/War3Map.Template/War3Map.Template.Source/obj/*
1-SetUpEnviornment/War3Map.Template/artifacts/